@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #1A1E23;
    --secondary-color: #12F7D6;
    --hover-color: #98FAEC;
    --text-color: #000;
    --white-text: #fff;
	--button-color: #12F7D6;
	--button-text: #000;
	--secondary-button: #fff;
	--green-color: #003931;
	--linear-gradient: #038774;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    background-color: var(--primary-color);
    color: var(--white-text);
}


.main-section {
    width: 100vw;
    height: 100vh;
    background: url('assets/images/Background/main_bg.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
}

.vector img {
    width: 789px;
    height: 789px;
    margin-left: 250px;  
    margin-top: 100px;
}

.text-content {
    max-width: 600px;
    margin-right: 225px;
}

.welcome-text {
    font-size: 22px;
    color: var(--white-text);
    margin-bottom: 10px;
}

h1 {
    font-size: 60px; 
    font-weight: bold;
    line-height: 1.1;
    color: transparent;
    background: linear-gradient(90deg, var(--secondary-color), #CAFFF7);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 20px;
}

h1 span {
    display: block;
}

.description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.6;
    color: var(--white-text);
    margin-bottom: 30px;
}

.contact-btn {
    padding: 18px 50px;  /* Larger padding for better button appearance */
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 40px;
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 30px rgba(18, 247, 214, 0.5), 0 4px 87.8px rgba(18, 247, 214, 0.5);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

.contact-btn:active {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .vector img {
        width: 80%;  /* Reduced size for mobile */
        margin-bottom: 20px;
        margin-right: 0;
    }

    .text-content {
        margin-left: 0;
    }

    h1 {
        font-size: 48px; /* Adjust for smaller screens */
    }

    .contact-btn {
        padding: 15px 40px;  /* Maintain good button size */
        font-size: 18px;
    }
}

