@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/*
gray --- 1A1E23
light green --- 12F7D6
Black 		--- 000000
gradient (green) --- 00594C - 009882
drop shadow --- 98FAEC
contact --- 003931
security --- 003931
*/
